body {
  background-image: url('https://github.com/Hoyant-Su/Hoyant-Su.github.io/blob/main/1.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
}
