@font-face {
  font-family: 'MyCustomFont';
  src: url('https://github.com/Hoyant-Su/font_testing/heptapods.ttf') format('truetype');
}

body {
  background-image: url('E8AF80A2989B12A7E5A6E24342E565BC.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'MyCustomFont';
}

h1 {
  color: #8BC34A; /* 淡绿色 */
  background-color: #F1F8E9; /* 背景颜色 */
  padding: 10px; 
}
